body{background-color: rgb(255, 255, 255);}

h1{font-size: 60px;
   color: darkred;}

h1{border-width: 10px;
   border-style: double;
   border-color: brown;
   margin-right: 45%};

h2{border-style: hidden;
   border-color: rgb(128, 5, 5);
   border-width: 15px;}

#ima1{width: 45%;
      border-style: groove;
      border-color: rgb(184, 14, 14);
      border-width: 30px;}

h3{font-size: 60px;
   color: darkorange;}

#ima2{width: 45%;
      border-style:groove;
      border-color: rgb(190, 173, 16);
      border-width: 25px;}

h4{font-size: 25px;}

h4{border-style: hidden;
   border-color: rgb(146, 144, 5);
   border-width: 15px;}

main {background-color: rgb(184, 6, 6);}
footer{color: rgb(234, 238, 29);}


