body{background-color: gray;}

h1{font-size: 60px;
   color: darkred;}

#ima1{width: 45%;
      border-style: groove;
      border-color: rgb(178, 168, 34);
      border-width: 30px;}

h3{font-size: 60px;
   color: darkorange;}

#ima2{width: 45%;
      border-style:groove;
      border-color: rgb(218, 32, 32);
      border-width: 30px;}

h4{font-size: 25px;}

h1{border-width: 10px;
   border-style: double;
   border-color: brown;
   margin-right: 45%};

